@font-face {
    font-family: 'Inika-Regular';
    src: url('../assets/fonts/Inika-Regular.ttf');
}

@font-face {
    font-family: 'Inika-Bold';
    src: url('../assets/fonts/Inika-Bold.ttf');
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('../assets/fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('../assets/fonts/Inter-Bold.ttf');
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    background-color: #EDF2EC;
    height: 150px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 112px;
}

.logo {
    margin-top: 22px;
}

.logo a {
    display: flex;
    align-items: center;
}

.logo img {
    width: 20px;
    height: 20px;
}

.logo p {
    font-family: 'Inika-Regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    cursor: pointer;
}

.logo p:hover {
    color: #E06733;
}

.header-nav-list {
    display: flex;
    list-style: none;
    font-family: 'Inika-Regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 48px;
    gap: 46px;
}

.header-navigation {
    margin-top: 28px;
}

.burger-icon {
    display: none;
}

#home {
    font-family: 'Inika-Bold';
    font-size: 16px;
    line-height: 50px;
    color: #E06733;
}

.header-nav-list-li:hover {
    font-family: 'Inika-Bold';
    font-size: 16px;
    line-height: 50px;
    color: #E06733;
    transition: 0.5s;
}

.welcome {
    background-color: #EDF2EC;
}

.welcome-wrapper {
    display: flex;
    margin: 0 7.569%;
    height: 516px;
}

.img-welcome {
    margin-top: 29px;
    width: 100%;
}

.img-welcome-768 {
    display: none;
}

.content-welcome {
    margin-top: 45px;
    width: 100%;
    margin-left: 10.1%;
}

h1 {
    font-family: 'Inter-Bold';
    font-size: 45px;
    line-height: 50px;
    color: #717171;
}

.content-welcome span {
    color: #499A18;
}

h3 {
    font-family: 'Inter-Regular';
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    font-weight: normal;
    margin-top: 44px;
    margin-right: 20px;

}

.content-welcome button {
    margin-top: 26px;
    width: 158.65px;
    height: 44px;
    border: 2px solid #E06733;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Inter-Regular';
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    background-color: #EDF2EC;
}

.content-welcome button:hover {
    background-color: #E06733;
    color: #FFFFFF;
    transition: 0.5s;

}

.content-welcome button:active {
    border: 2px solid #499A18;
    background-color: #499A18;
    color: #FFFFFF;
}

.about-wrapper {
    display: flex;
    align-items: center;
    margin: 0 7.569%;
    margin-top: 85px;
}

.content-about {
    width: 100%;
    margin-right: 24%;
}

h2 {
    font-family: 'Inika-Regular';
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    font-weight: normal;
}

.content-about h3 {
    margin-top: 38px;
    line-height: 30px;
    margin-right: -28%;
}

.content-about span {
    color: #E06733
}

.img-about {
    width: 100%;
    margin-top: 8px;
}

.img-about img {
    width: 100%;
}


.service {
    background-color: #EDF2EC;
    margin-top: 89px;
}

.service-wrapper {
    padding-bottom: 120px;
    margin-right: 110px;
    margin-left: 108px;
}

.up {
    display: flex;
}

.caption-service {
    width: 25.25%;
}

.caption-service h2 {
    margin-right: 0;
    margin-top: 40px;
}

.tablets-service {
    display: flex;
    flex-wrap: wrap;
    gap: 53px;
    justify-content: space-between;
    margin-top: 46px;
}

.button-service {
    gap: 39px;
    display: flex;
    margin-left: 139px;
    margin-top: 69px;
    flex-wrap: wrap;
}

.button-service button {
    width: 161px;
    height: 50px;
    font-family: 'Inika-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    border: 1px solid #E06733;
    border-radius: 5px;
    background-color: #EDF2EC;
    cursor: pointer;
}

.button-service button:hover {
    color: #FFFFFF;
    background-color: #E06733;
    transition: 0.5s;
}

.button-service button:focus {
    color: #FFFFFF;
    background-color: #E06733;
    transition: 0.5s;
}

.img768-garden,
.img768-planting,
.img768-lawn {
    display: none;
}

.card {
    width: 27%;
}

.content-card {
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    text-align: center;
    height: 450px;
    width: 100%;
}

.card .active {
    filter: blur(4px);
}

.content-card img {
    border-radius: 20px 20px 0 0;
    width: 100%;
}

.content-card h4 {
    font-family: 'Inter-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
    margin-top: 5px;
}

.content-card h5 {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
    margin-top: -11px;
}

.price-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 7.569%;
    margin-top: 39px;
    margin-bottom: 104px;
}

/*accordion*/

.choose-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    width: 330px;
    min-height: 60%;
    margin-top: 60px;
    gap: 33px;
    padding-top: 17px;
    padding-bottom: 17px;
}

.select {
    display: flex;
    align-items: center;
    width: 250px;
    height: 48px;
    border-radius: 20px;
    font-family: 'Inter-Bold';
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    border: 1px solid #E3E1D5;
    appearance: none;
    background: url("../assets/image/svg/arrow-grey-btn.svg") no-repeat 82% center;
    outline: 0;
    background-color: #EDF2EC;
    padding-left: 38px;
    cursor: pointer;
}

/*.basics .select button .active {
    border-radius: 20px;
    color: #000000;
    background: url("../assets/image/svg/arrow-grey-up-btn.svg") no-repeat 82% center;
    outline: 0;
    background-color: #D6E7D2;
}*/


.active,
.select:hover {
    background-color: #D6E7D2;
}

.active,
.select:active {
    background: url("../assets/image/svg/arrow-grey-up-btn.svg") no-repeat 82% center;
    background-color: #D6E7D2;
    border-radius: 20px 20px 0 0;
    border-bottom: 0;
}

.panel {
    display: none;
    overflow: hidden;
    background-color: #D6E7D2;
    width: 248px;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-size: 10px;
    line-height: 10px;
    color: #717171;
    border: 1px solid #E3E1D5;
    border-radius: 0 0 20px 20px;
    border-top: 0;
}

.line {
    border-bottom: 0.5px solid #AEA1A1;
    width: 66%;
    margin-left: 38px;
}

.panel p {
    margin-left: 38px;
    margin-right: 33px;
    margin-top: 2px;
    margin-bottom: 0;
}

.price-text {
    display: flex;
    margin-left: 38px;
    margin-top: 4px;
}

.panel p.orange-text {
    font-family: 'Inter-Bold';
    font-size: 15px;
    line-height: 20px;
    color: #E06733;
    margin-left: 0;
    margin-right: 0;
}

.panel p.black-text {
    font-family: 'Inter-Regular';
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    margin-left: 0;
    margin-right: 0;
}

.button-panel {
    margin-left: 38px;
    width: 86px;
    height: 25px;
    font-family: 'Inter-Bold';
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #717171;
    border-radius: 10px;
    padding: 0;
    border: none;
    background-color: white;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.button-panel:hover {
    border: 1px solid #E06733;
}

.button-panel:active {
    background-color: #E06733;
    color: #FFFFFF;
    transition: 0.3s;
}

/*accordion finish*/

.caption-price h2 {
    font-family: 'Inter-Bold';
    font-style: normal;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    margin: 0;
}

.help-price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.caption-help-price {
    display: block;
}

.caption-help-price h2 {
    font-family: 'Inter-Bold';
    font-style: normal;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    margin-right: 0;
    text-align: end;
    margin: 0;
}

.caption-help-price span {
    color: #499A18;
}

.caption-help-price768 {
    display: none;
}

.button-price button {
    width: 161px;
    height: 50px;
    font-family: 'Inika-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    border: 1px solid #E06733;
    border-radius: 5px;
    background-color: #FFFFFF;
    cursor: pointer;
    margin-top: 44px;
}

.button-price button:hover {
    color: #FFFFFF;
    background-color: #E06733;
    transition: 0.5s;
}

.img-price {
    margin-top: 34px;
    margin-right: -10px;
}

.contacts {
    background-color: #EDF2EC;
    height: 550px;
}

.contacts-wrapper {
    display: flex;
    margin: 0 7.569%;
    justify-content: space-between;
}

.contacts-wrapper768 {
    display: none;
}

.img-contacts {
    margin-top: 36px;
    margin-left: -31px;
    width: 33%;
}

.capture-contacts h2 {
    font-family: 'Inika-Bold';
    font-style: normal;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    margin-right: 0;
    margin-left: 8px;
    margin-top: 60px;
}

.capture-contacts {
    margin-left: 77px;
    width: 17%;
}

/*city*/
/***********/

.table-contacts {
    margin-top: 149px;
    width: 36.9%;
}

.select-city {
    position: relative;
}

.name-select-city {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-size: 20px;
    line-height: 40px;
    color: #717171;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: url("../assets/image/svg/contact-arrow-grey_btn.svg") no-repeat 92% center;
    border: none;
    height: 50px;
    padding-left: 21px;
    cursor: pointer;
}

.name-select-city:hover,
.name-select-city:active {
    border: 1px solid #D6E7D2;
    box-shadow: none;
    background: url("../assets/image/svg/arrow-green-up_btn.svg") no-repeat 92% center;
    background-color: #C1E698;
}

.name-select-city:focus {
    background: url("../assets/image/svg/arrow-green-up_btn.svg") no-repeat 92% center;
    background-color: #C1E698;
}

.name-select-city--active {
    background-color: #C1E698;
}


.city-list {
    display: none;
    position: absolute;
    left: 0;
    top: 50px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: #D6E7D2;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
}

.city-list--visible {
    display: block;
}

.city-list-item {
    padding: 13px 20px;
    cursor: pointer;
}

.city-list-item:hover {
    background: rgba(176, 198, 225, 0.26);
}

.city-input {
    display: none;
}

.canandaiguacity,
.new-york-city,
.yonkers-city,
.sherrill-city {
    display: none;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 20px;
    font-family: 'Inter-Regular';
    font-size: 16px;
    height: 53%;
    margin-top: 37px;
}

.city-adress {
    display: flex;
    margin-left: -103px;
    margin-top: 17px;
    gap: 30px;
}

.description-points p {
    color: #717171;
}

.btn-city {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 122px;
    height: 26px;
    font-family: 'Inika-Bold';
    font-size: 10px;
    line-height: 13px;
    color: #717171;
    border: 1px solid #E06733;
    border-radius: 5px;
    background-color: #EDF2EC;
    cursor: pointer;
    margin-top: 20px;
}


/*city finish*/

.footer {
    height: 132px;
}

.footer-wrapper {
    height: 100%;
    display: flex;
    margin: 0 7.569%;
    align-items: center;
    justify-content: space-between;
    margin-top: -2px;
}

.year {
    display: flex;
    align-items: center;
    gap: 20px;
}

.year a:hover {
    transition: 0.5s;
    color: #E06733;
}

.rss {
    margin-left: 18px;
}

.rss a:hover {
    transition: 0.5s;
    color: #E06733;
}

.footer-nav-list {
    display: flex;
    gap: 20px;
    padding: 0;
    list-style-type: none;
    margin-top: 39px;
}

.footer-nav-list img:hover {
    transition: 0.4s;
    transform: scale(1.5);
}

.footer {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
}